version: "3"
services:
    # PHP with Nginx
    dashboard_app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: dashboard_app
        restart: unless-stopped
        working_dir: /var/www/app
        volumes:
            - .:/var/www/app
        ports:
            - "9000:9000"
        networks:
            - app_network

    dashboard_nginx:
        image: nginx:alpine
        container_name: dashboard_nginx
        restart: unless-stopped
        ports:
            - "8000:8000"
        volumes:
            - .:/var/www/app
            - ./docker/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - dashboard_app
            - dashboard_db
        networks:
            - app_network

    dashboard_db:
        image: mariadb:10.5
        container_name: dashboard_db
        volumes:
            - "./data:/var/lib/mysql"
        ports:
            - "3307:3306"
        environment:
            - MYSQL_ROOT_PASSWORD=root
            - MYSQL_ROOT_USER=root
        networks:
            - app_network
        restart: unless-stopped

#    dashboard_redis:
#        container_name: dashboard_redis
#        image: redis:latest
#        ports:
#            - "6379:6379"
#        networks:
#            - app_network
#        restart: unless-stopped

    dashboard_mailhog:
        image: mailhog/mailhog
        container_name: dashboard_mailhog
        logging:
            driver: 'none'
        ports:
            - "8003:1025"
            - "8100:8025"
        networks:
            - app_network
        restart: unless-stopped

networks:
    app_network:
        driver: bridge
