body {
    margin: 0;
    font-family: $font-family-sans-serif;
    background-color: $secondary-color;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
}

h4 {
    margin: 3px 0;
}

.view-container {
    width: calc(100% - 40px);
    margin-left: 300px;
    padding: 20px;
}

.view-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.view-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $dark-color;
}

.table {
    min-height: calc(100vh - 120px);
}

.ds-flex {
    display: flex;
}

.flex-gap {
    gap: 10px;
}

.el-upload-list__item {
    transition: none!important;
}

.bg-light {
    background-color: $light-color;
}

.ds-block {
    width: calc(100% - 40px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px $grey-color;
}

.auth-form {
    margin: 60px auto;

    &-redirect {
        margin-bottom: 20px;

        a {
            text-decoration: none;
            font-weight: 600;
            color: $dark-color;
        }
    }
}

.ds-page-options {
    display: flex;
    gap: 20px;
}
