body {
    margin: 0;
    font-family: $font-family-sans-serif;
    background-color: $secondary-color;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
}

h4 {
    margin: 3px 0;
}

.view-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $dark-color;
    margin: 10px auto;
}

.table {
    min-height: calc(100vh - 120px);
}

.flex-gap {
    gap: 10px;
}

.el-upload-list__item {
    transition: none!important;
}

.bg-light {
    background-color: $light-color;
}

.ds-block {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px $grey-color;
    margin: 20px 0;
}
