// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;

// Colors

$primary-color: #1A3d63;
$secondary-color: #D4E5EF;
$dark-color: #0A1931;
$grey-color: #BACCD9;
$light-color: #F6FAFD;
$danger-color: #C51F5D;
$warning-color: #FDA481;
$success-color: #0C969C;
