// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;

// Colors
$primary-color: #6E39CB;
$secondary-color: #e7e7f4;
$dark-color: #3A3541;
$grey-color: #DBDCDE;
$light-color: #fff;
$danger-color: #FF447D;
$warning-color: #FF845A;
$success-color: #00B091;
