@import url(https://fonts.googleapis.com/css?family=Nunito);
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
}

.view-title {
  border-bottom: 3px solid #000;
}

.table {
  min-height: calc(100vh - 120px);
}

