@import url(https://fonts.googleapis.com/css?family=Nunito);
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: #D4E5EF;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  font-size: 24px;
  margin: 10px 0;
}

h4 {
  margin: 3px 0;
}

.view-container {
  width: calc(100% - 40px);
  margin-left: 300px;
  padding: 20px;
}

.view-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.view-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0A1931;
}

.table {
  min-height: calc(100vh - 120px);
}

.ds-flex {
  display: flex;
}

.flex-gap {
  gap: 10px;
}

.el-upload-list__item {
  transition: none !important;
}

.bg-light {
  background-color: #F6FAFD;
}

.ds-block {
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #BACCD9;
}

.auth-form {
  margin: 60px auto;
}
.auth-form-redirect {
  margin-bottom: 20px;
}
.auth-form-redirect a {
  text-decoration: none;
  font-weight: 600;
  color: #0A1931;
}

.ds-page-options {
  display: flex;
  gap: 20px;
}

.el-aside {
  overflow: unset !important;
}

.ds-sidebar {
  background-color: #F6FAFD;
  height: calc(100vh - 40px);
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 0 5px 5px #BACCD9;
}
.ds-sidebar .ds-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.ds-sidebar .ds-logo img {
  width: 78px;
  height: auto;
}
.ds-sidebar .ds-sidebar-menu {
  border-right: 0;
  background-color: unset;
}
.ds-sidebar .ds-sidebar-menu--item {
  color: #0A1931;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px 0;
  height: auto;
  line-height: unset;
  margin: 10px auto;
}
.ds-sidebar .ds-sidebar-menu--item:hover {
  background-color: rgba(26, 61, 99, 0.5);
}
.ds-sidebar .ds-sidebar-menu--item:focus {
  background-color: transparent;
}
.ds-sidebar .ds-sidebar-menu--item.is-active {
  color: #1A3d63;
}
.ds-sidebar .ds-sidebar-menu--item.is-active:hover {
  background-color: rgba(26, 61, 99, 0.5);
}
.ds-sidebar .ds-sidebar-menu--item i {
  color: #0A1931;
}

.ds-auth-user-link {
  text-decoration: none;
}

.ds-auth-user {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #1A3d63;
  padding: 15px 10px;
  border-radius: 10px;
}
.ds-auth-user--avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.ds-auth-user--no-image {
  background-color: #D4E5EF;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ds-auth-user--no-image i {
  font-size: 30px;
  color: #1A3d63;
}
.ds-auth-user--info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.ds-auth-user--name {
  font-size: 16px;
  color: #F6FAFD;
}
.ds-auth-user--email {
  font-size: 14px;
  color: #F6FAFD;
}

.ds-logout--btn {
  background-color: #1A3d63;
  margin-top: 20px;
  border-radius: 10px;
  color: #F6FAFD;
  width: 100%;
  padding: 15px 10px;
  border: none;
}

.ds-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.ds-pagination-buttons li.number {
  background-color: #D4E5EF;
  color: #0A1931;
  border-radius: 5px;
  margin: 0 5px;
}
.ds-pagination-buttons li.number.active {
  background-color: #1A3d63;
  color: #F6FAFD;
}
.ds-pagination-buttons li.number:hover {
  color: #F6FAFD;
}

.btn-primary.el-button--primary {
  background-color: #1A3d63;
  color: #F6FAFD;
  border-color: #1A3d63;
}
.btn-primary.el-button--primary:hover {
  color: #0A1931;
  border-color: #0A1931;
  background-color: transparent;
}
.btn-default.el-button--default {
  background-color: #F6FAFD;
  color: #0A1931;
  border-color: #0A1931;
}
.btn-default.el-button--default:hover {
  color: #0A1931;
  border-color: #0A1931;
  background-color: transparent;
}
.btn-info.el-button--info {
  background-color: #D4E5EF;
  color: #0A1931;
}
.btn-info.el-button--info:hover {
  color: #0A1931;
  border-color: #0A1931;
  background-color: transparent;
}
.btn-success.el-button--success {
  background-color: #0C969C;
}
.btn-success.el-button--success:hover {
  color: #0A1931;
  border-color: #0A1931;
  background-color: transparent;
}
.btn-danger.el-button--danger {
  background-color: #C51F5D;
}
.btn-danger.el-button--danger:hover {
  color: #0A1931;
  border-color: #0A1931;
  background-color: transparent;
}
.btn-warning.el-button--warning {
  background-color: #FDA481;
}
.btn-warning.el-button--warning:hover {
  color: #0A1931;
  border-color: #0A1931;
  background-color: transparent;
}

.form-group .form-input label {
  line-height: 1;
}

