@import url(https://fonts.googleapis.com/css?family=Nunito);
body{font-family:Nunito,sans-serif;margin:0}aside{left:0;position:fixed;top:0}.view-title{border-bottom:3px solid #000;margin:10px auto}.table{min-height:calc(100vh - 120px)}.flex-gap{gap:10px}

